USE [KwooErp]
GO
/****** Object:  StoredProcedure [dbo].[P_사원찾기팝업]    Script Date: 2024-05-17 오후 5:52:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		오원준
-- Create date: 2020.03.27
-- Description:	사원찾기 팝업
-- SELECT * FROM 사원마스터 WHERE 사원코드 ='1707725'
-- exec P_사원찾기팝업 '',N'',N'',N'',N'',N'',N'',N'',N'false',N'130001',N''
-- select * from 사원마스터V
-- ============================================
ALTER PROCEDURE [dbo].[P_사원찾기팝업]
	 @사원코드		 VARCHAR(15) = ''
	,@사원명		 VARCHAR(50) = ''
	,@본부코드		 VARCHAR(7) = ''
	,@지사코드		 VARCHAR(7) = ''
	,@지점코드		 VARCHAR(7) = ''
	,@팀코드		 VARCHAR(7) = ''
	,@직급코드		 VARCHAR(10) = ''
	,@휴대폰번호	 VARCHAR(15) = ''
	,@재직구분		 VARCHAR(1) = ''
	,@로그인사원코드 VARCHAR(15) = ''
	,@생년월일		 VARCHAR(13) = ''
AS
BEGIN

	SET NOCOUNT ON;

	/***************************************************************************************************************************************
	 0.임시테이블 생성
	***************************************************************************************************************************************/

	-- ★ 로그인사원 업무관리-영업조직 
	CREATE TABLE #영업조직(
		본부코드	VARCHAR(7)
		,지사코드	VARCHAR(7)
		,지점코드	VARCHAR(7)
		,팀코드		VARCHAR(7)
		,사원코드	varchar(15)
	)

	CREATE INDEX IDX_#영업조직_사원코드 ON #영업조직(사원코드);

	CREATE TABLE #대상사원(
		사원코드	VARCHAR(15)
		,재직구분	VARCHAR(20)
	)

	SET @본부코드   = ISNULL(@본부코드,'');
	SET @지사코드   = ISNULL(@지사코드,'');	
	SET @지점코드   = ISNULL(@지점코드,'');	
	SET @팀코드	    = ISNULL(@팀코드,'');
	SET @직급코드   = ISNULL(@직급코드 ,'');	
	SET @휴대폰번호 = ISNULL(@휴대폰번호,'');
	SET @재직구분	= ISNULL(@재직구분,'');
	SET @생년월일	= ISNULL(@생년월일,'');

	-- 2021.10.26 김동주 주임 요청: 엔터로 사원 찾기시 사원명에 사원코드 입력하더라도 조회 가능하게 요청함.
	-- 팝업과 동일한 sp 호출하므로 팝업창에서도 사원명에 사원코드 입력시 정상 조회됨을 안내함.
	IF ISNUMERIC(@사원명) = 1
	BEGIN
		SET @사원코드 = @사원명;
		SET @사원명 = '';
	END
	/***************************************************************************************************************************************
	 1. 조직데이터 집계
	***************************************************************************************************************************************/

	-- ★ 로그인사원 업무관리-영업조직 
	INSERT INTO #영업조직
		SELECT DISTINCT 본부코드,지사코드,지점코드,팀코드,사원코드 FROM DBO.F_사원관리조직M(@로그인사원코드) --WHERE 지점코드 <> '';
	
	/***************************************************************************************************************************************
	 1. 해당 조직 사원 데이터 집계
	***************************************************************************************************************************************/
	
	-- 본부 조직 사원
	INSERT INTO #대상사원(사원코드, 재직구분)
	SELECT	DISTINCT a.사원코드, 재직구분 
	FROM	사원마스터 AS A (NOLOCK)
	INNER JOIN
			#영업조직 AS C
	ON		A.사원코드 = C.사원코드
	WHERE	A.신규승인 = 'Y'

	IF @재직구분 = 'T'
	BEGIN
		DELETE FROM #대상사원 WHERE	재직구분 IN ('퇴직','해촉')
	END

	IF ISNULL(@사원코드 ,'') <> ''
	BEGIN
		DELETE FROM #대상사원 WHERE	사원코드 <> @사원코드
	END

	DELETE A FROM #대상사원 AS A WHERE 사원코드 = '130001'
	/***************************************************************************************************************************************
	 99.최종결과
	***************************************************************************************************************************************/

	SELECT	A.사원코드, A.사원명
			,A.주민번호 AS 주민번호
			,A.사원등록일자, A.퇴사일자
			,A.유치자코드, A.증원사원명
			,dbo.f_전화번호포맷(A.휴대폰) AS 휴대폰
			,A.자택우편번호,A.자택우편주소
			,A.자택도로명주소, A.자택상세주소, A.은행코드, A.은행명, A.계좌번호, A.예금주, A.예금주주민번호
			,A.지급방법, A.EMail계정, A.EMail호스트, A.EMail호스트2, A.생일, A.생일구분
			,A.본부코드, A.본부명
			,A.지사코드, A.지사명
			,A.지점코드, A.지점명
			,A.팀코드, A.팀명
			,A.직급코드, A.직급명, A.생년월일, A.EMail, A.직책
			--, A.비고
			, A.웨딩지역코드
			,A.관리지역코드, A.관리지역명, A.직책코드, A.직책명, A.재직구분
			--,A.실거주지우편번호, A.실거주지우편주소, A.실거주지도로명주소, A.실거주지상세주소
			,A.사원구분
	FROM	사원마스터V AS A (NOLOCK)
	INNER JOIN
			#대상사원 AS B
	ON		A.사원코드 = B.사원코드
	WHERE	(CASE WHEN ISNULL(@본부코드, '') = '' THEN ISNULL(@본부코드,'') ELSE A.본부코드 END = ISNULL(@본부코드,''))
	AND		(CASE WHEN ISNULL(@지사코드, '') = '' THEN ISNULL(@지사코드,'') ELSE A.지사코드 END = ISNULL(@지사코드,''))
	AND		(CASE WHEN ISNULL(@지점코드, '') = '' THEN ISNULL(@지점코드,'') ELSE A.지점코드 END = ISNULL(@지점코드,''))
	AND		(CASE WHEN ISNULL(@팀코드, '') = '' THEN ISNULL(@팀코드,'') ELSE A.팀코드 END = ISNULL(@팀코드,''))
	AND		(CASE WHEN ISNULL(@직급코드, '') = '' THEN ISNULL(@직급코드,'') ELSE A.직급코드 END = ISNULL(@직급코드,''))
	AND		(CASE WHEN ISNULL(@휴대폰번호, '') = '' THEN ISNULL(@휴대폰번호,'') ELSE A.휴대폰 END = REPLACE(@휴대폰번호,'-',''))
	AND		(CASE WHEN ISNULL(@생년월일, '') = '' THEN ISNULL(@생년월일,'') ELSE A.주민번호 END LIKE ISNULL(@생년월일,'') + '%')
	AND		A.사원명	LIKE '%'+ ISNULL(@사원명,'') +'%'
	ORDER BY A.사원코드 

	DROP TABLE #대상사원;
	DROP TABLE #영업조직;

END
