USE [KwooErp]
GO
/****** Object:  StoredProcedure [dbo].[P_장례정산_조회]    Script Date: 2024-05-17 오후 3:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- AUTHOR:		조하영
-- CREATE DATE: 2024.04.23
-- DESCRIPTION:	장례행사정산 조회

-- EXEC P_장례행사정산_조회 '10001160' 

-- SP_HELP 행사인력
-- SELECT * FROM 장례행사마스터V WHERE 계약코드 = '17070550'
-- SELECT * FROM 행사인력 WHERE 행사코드 = '10001160'
-- SELECT * FROM 웨딩행사마스터V WHERE LEFT(계약코드,2) = 'SB'


-- exec P_장례행사정산_조회 '인력',''
-- =============================================
ALTER PROCEDURE [dbo].[P_장례정산_조회]
	@구분			AS VARCHAR(10)	= ''
	,@행사코드		AS VARCHAR(15)	= ''
	,@시작일자		AS VARCHAR(8)	= ''
	,@종료일자		AS VARCHAR(8)	= ''
	,@의전팀장코드	AS VARCHAR(15)	= ''

AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
	
	DECLARE	 @장례상품코드		VARCHAR(10)		= ''
			,@종교				VARCHAR(10)		= ''
			,@제품총액			NUMERIC(18,0)	= 0
			,@계약상세코드		VARCHAR(15)		= ''
			,@창고지역			VARCHAR(10)		= ''
			,@창고지역상세		VARCHAR(10)		= ''
			,@비고				VARCHAR(100)	= ''
			,@납부자번호		VARCHAR(100)	= ''
			,@행사시작일자		VARCHAR(10)		= ''
			,@접수시납입금액	NUMERIC(18,0)	= 0
			,@정산시납입금액	NUMERIC(18,0)	= 0
			,@외주구분			VARCHAR(10)		= ''
			,@수금액합계		NUMERIC(18,0)	= 0
			,@단가합계			NUMERIC(18,0)	= 0
			,@작업단가합계		NUMERIC(18,0)	= 0
			,@총액합계			NUMERIC(18,0)	= 0
			,@세액합계			NUMERIC(18,0)	= 0
			,@지급액합계		NUMERIC(18,0)	= 0
			;

	SELECT	@계약상세코드 = 계약상세코드
			,@행사시작일자 = 행사시작일자
			,@접수시납입금액 = ISNULL(카드납입부금,0)+ISNULL(현금납입부금,0)
			,@외주구분 = 외주구분
	FROM	행사마스터  
	WHERE	행사코드 = ISNULL(@행사코드,'')
	
	-- 추가내역 지급액 합계 2024.04.23 조하영 추가
	SELECT TOP 1 @수금액합계 = SUM(금액)
	FROM	행사진행물품 (NOLOCK)
	WHERE	행사코드 = ISNULL(@행사코드,'')
	AND		구분 = '추가'

	IF EXISTS (SELECT * FROM 행사인력 WHERE 행사코드 = @행사코드 AND 참여구분 = '의전팀장')
	BEGIN
		SELECT TOP 1 @단가합계 = SUM(단가), @작업단가합계 = SUM(작업금액), @총액합계 = SUM(총액), @세액합계 = SUM(원천세), @지급액합계 = SUM(실지급액)
		FROM	행사인력 (NOLOCK)
		WHERE	행사코드 = ISNULL(@행사코드,'')
		AND		행사구분 = '장례'
		AND		참여구분 = '의전팀장'
	END
	ELSE
	BEGIN
		SELECT TOP 1 @단가합계 = SUM(단가), @작업단가합계 = SUM(작업금액), @총액합계 = SUM(총액), @세액합계 = SUM(원천세), @지급액합계 = SUM(실지급액)
		FROM	행사인력 (NOLOCK)
		WHERE	행사코드 = ISNULL(@행사코드,'')
		AND		행사구분 = '장례'
		AND		참여구분 <> '의전팀장'
	END

	/*  -- 2019.01.16 환불시점은 행사마감후이기때문에 주석처리
	-- 행사후 출금 데이터 환불 처리 체크 로직
	SELECT	@납부자번호 = 납부자번호
	FROM	부금청구상세
	WHERE	계약상세코드 = @계약상세코드

	IF EXISTS (SELECT	'X'
			   FROM		CMS출금
			   WHERE	납부자번호 = @납부자번호
			   AND		출금일자 >= @행사시작일자
			   AND		상태 <> '오류'
	)BEGIN

		SELECT	@정산시납입금액 = SUM(입금액)
		FROM	수납일정표
		WHERE	계약상세코드 = @계약상세코드
		AND		입금방법 <> '행사완납'

		IF ISNULL(@정산시납입금액,0) <> ISNULL(@접수시납입금액,0)
		BEGIN
			RAISERROR('접수와 정산 시점의 납입금액이 다릅니다. 환불 후 정산하세요.', 16, 1, '', '', '')
			RETURN;
		END
	END
	*/
	/**************************************************************************************************************************************************************************************
	 1.장례행사정산 조회
	**************************************************************************************************************************************************************************************/
	IF @구분 = '행사조회'
	BEGIN
		SELECT  DISTINCT A.행사코드, A.접수일자	AS 행사일자
				,A.행사시작일자
				,A.행사상태, A.의전팀장명, A.장례식장
				,A.계약코드, A.계약자명, A.장례상품명 AS 상품명
				, A.가입액, A.계약상세코드
				, A.즉발행사구분
				, A.납입금액						AS 납입액
				, A.잔여금액						AS 잔여금
				, B.현장경비, B.회사입금액, B.실입금액, B.회사입금액-B.실입금액					AS 차액
				, A.정산완료일, B.현금정산일자,B.비고, A.회계정산완료일, A.행사코드				AS 행사번호
				, A.수의구분, A.기타구분, A.상품코드, CONVERT(VARCHAR(8000), A.행사특이사항)	AS 행사특이사항
				, C.입금일자, A.현금납입부금		AS 등록시수납액계
				, A.감독관코드						AS 감독관
				, A.감독관명						AS 감독관명
				, A.행사진행금액, A.행사특별할인	AS 특별할인
				, A.현금납입부금 + 카드납입부금		AS 부금납입
				, A.상품매출
		FROM	장례행사마스터V AS A(NOLOCK)
		LEFT OUTER JOIN
				행사정산 AS B(NOLOCK)
		ON		A.행사코드 = B.행사코드
		LEFT OUTER JOIN
				행사정산상세 AS C (NOLOCK)
		ON		B.행사코드 = C.행사코드
		LEFT OUTER JOIN 
				외주행사단가이력 AS Y (NOLOCK)
		ON		A.행사상품코드 = Y.행사상품코드
		AND		Y.행사구분 = '장례'
		WHERE 	A.행사시작일자 BETWEEN @시작일자 AND @종료일자
		AND		A.의전팀장코드 LIKE + ISNULL(@의전팀장코드,'') + '%'
		AND		A.행사상태 <> '취소'
		AND		A.행사코드 LIKE  ISNULL(@행사코드,'') + '%'
		ORDER BY A.접수일자 DESC
	END

	/**************************************************************************************************************************************************************************************
	 2.행사정보
	**************************************************************************************************************************************************************************************/
	IF @구분 = '행사정보'
	BEGIN
		SELECT DISTINCT Q.행사번호,Q.행사시작일시, Q.행사시작시간, Q.행사종료일시, Q.행사종료시간, Q.계약코드,Q.행사장소
			 ,Q.의전팀장,의전팀장명,Q.의전팀장연락처,Q.상품코드,Q.상품명,Q.회원번호,Q.계약자휴대폰,Q.상주명,Q.상주연락처
			 ,Q.고인명,Q.회원과의관계,Q.입관일시,Q.입관시간,Q.발인일시,Q.발인시간,Q.장례형태,Q.장지1차,Q.장지2차,Q.행사상태
			 ,Q.계약일자,Q.소속부서,Q.영업사원, Q.영업사원연락처
			 ,'https://fsp.soffice.co.kr/REPORT/UbiFile/kwoo/images/경우라이프_CI.png' AS 로고이미지
			 ,Q.가입액,Q.월납입금액,Q.납입금액,Q.납입회차,Q.잔여금액,Q.지역,Q.화장시설, Q.납입방법,Q.상품금액
			 ,Q.성별,Q.나이,Q.종교,Q.사망사유,Q.정산완료일,X.거래처명 AS 업체명
			 ,X.상담사, X.연락처, X.상담일시, X.장지 AS 장지명, Q.입관일시2, Q.발인일시2
			 ,X.장묘방식, X.기계약, X.기계약일자, X.수수료 AS 총금액,Q.잔여회차,Q.면제회차
			 ,Q.수금사원명,Q.외주구분,Q.운구여부,Q.계약상품명
			 ,X.할인율, X.할인금액, X.고객확인서, X.비고 AS 장지특이사항
		     ,(SELECT 계약자명 FROM 계약마스터 (NOLOCK) WHERE 계약코드 = Q.회원번호) AS 회원명
		     ,CASE WHEN ISNULL(Q.행사진행금액,0) <> 0 THEN Q.행사진행금액 ELSE (SELECT 0 AS 가입액 FROM 계약마스터4V (NOLOCK) WHERE 계약코드 = Q.회원번호) END AS 진행상품금액
		     ,Q.등록시수납액계, Q.등록시카드액계,dbo.F_조직장정보확인('연락처',Q.계약상세코드) AS 지사장연락처
		     ,(SELECT 사원명+'/'+휴대폰
		       FROM 사원마스터
		       WHERE 사원코드 = (SELECT 모집사원코드 FROM 계약마스터 (NOLOCK) WHERE 계약코드 = Q.계약코드)) AS 영업담당
			 , Q.감독관, Q.감독관명
		FROM (SELECT 행사코드 AS 행사번호,행사시작일자 AS 행사시작일시, 행사시작시간, 행사종료일자 AS 행사종료일시
					,행사종료시간, 계약코드, 장례식장 AS 행사장소, 화장시설, 납입방법,계약상품총액	AS 상품금액
					,행사상품코드, 행사상태, 계약일자, 소속부서,모집사원명 AS 영업사원, dbo.f_전화번호포맷(모집사원휴대폰) AS 영업사원연락처
					,A.의전팀장코드 AS 의전팀장,의전팀장명, 의전팀장휴대폰 AS 의전팀장연락처
					, A.상품코드, (SELECT 상품명 FROM 상품마스터 WHERE 상품코드 = A.상품코드) AS 상품명
					,가입액,월납입금액,납입금액,납입회차,잔여금액,창고지역 AS 지역, 잔여회차,면제회차
					,수금사원명,외주구분,운구여부,계약상품명,계약상세코드
					,계약코드 AS 회원번호,계약자휴대폰, 상주 AS 상주명, 상주휴대폰 AS 상주연락처
		            ,고인성명 AS 고인명, 관계 AS 회원과의관계, 입관일자 AS 입관일시, 입관시간, 발인일자 AS 발인일시, 발인시간, 장례형태, 장지1차, 장지2차
					, ISNULL(LEFT(입관일자,4)+'-'+SUBSTRING(입관일자,5,2)+'-'+RIGHT(입관일자,2) + ' ' 
					+ LEFT(입관시간,2) + ':' + RIGHT(입관시간,2),'') AS 입관일시2
					, ISNULL(LEFT(발인일자,4)+'-'+SUBSTRING(발인일자,5,2)+'-'+RIGHT(발인일자,2) + ' ' 
					+ LEFT(발인시간,2) + ':' + RIGHT(발인시간,2),'') AS 발인일시2
					,고인성별 AS 성별, 연령 AS 나이, 종교,부고사유 AS 사망사유
					,정산완료일, 현금납입부금 AS 등록시수납액계, 카드납입부금 AS 등록시카드액계,
					감독관코드 AS 감독관, 감독관명, 행사진행금액
				FROM 장례행사마스터V AS A (NOLOCK)
			 ) AS Q
		LEFT OUTER JOIN
				장지상세 AS X (NOLOCK)
		ON		Q.행사번호 = X.행사코드
		LEFT OUTER JOIN
				외주행사단가이력 AS Y (NOLOCK)
		ON		Q.행사상품코드 = Y.행사상품코드
		AND		Y.행사구분 = '장례'
		WHERE	Q.행사번호 = ISNULL(@행사코드,'')
		AND		Q.행사상태 <> '취소'
	END
	/**************************************************************************************************************************************************************************************
	 3.기본제공비용
	**************************************************************************************************************************************************************************************/
	IF @구분 = '기본제공'
	BEGIN
		SELECT	A.행사코드, A.SEQ, A.구분, A.재고구분, B.재고관리여부, A.구성품코드, B.구성품명
				, A.행사상품코드, A.행사구분, ISNULL(A.수량,0)	AS 수량
				, A.금액	-- 지급액
				, B.판매단가, A.결제방법, A.거래처코드, C.거래처명, A.증빙구분, A.발행일자, A.분류번호
				, C.사업자등록번호								AS 사업자번호
				, D.현장경비									AS 현장지출
				, D.자체용품금액								AS 본사지출
				, A.비고, A.등록자
		FROM	행사진행물품 AS A (NOLOCK) 
		LEFT OUTER JOIN
				행사구성품 AS B (NOLOCK) 
		ON		A.구성품코드 = B.구성품코드
		LEFT OUTER JOIN
				거래처마스터 AS C (NOLOCK) 
		ON		A.거래처코드 = C.거래처코드
		LEFT OUTER JOIN
				행사정산 AS D (NOLOCK) 
		ON		A.행사코드	= D.행사코드
		WHERE	A.행사코드	= ISNULL(@행사코드,'')
		AND		A.행사구분	= '장례'
		AND		A.구분		= '기본'
		ORDER BY A.구분, A.구성품코드
	END
	/**************************************************************************************************************************************************************************************
	 4.추가내역
	**************************************************************************************************************************************************************************************/
	IF @구분 = '추가내역'
	BEGIN
		SELECT	A.행사코드, A.SEQ, A.구분, A.재고구분, A.구성품코드, B.구성품명, B.재고관리여부
				, A.행사상품코드, A.행사구분, ISNULL(A.수량,0)		AS 수량
				, A.업체추가지급액		AS 업체지급액
				, @수금액합계			AS 지급액
				, A.금액				-- 수금액
				, B.판매단가, A.거래처코드, C.거래처명, A.증빙구분, A.결제방법, A.발행일자, A.분류번호
				, C.사업자등록번호		AS 사업자번호
				, A.비고, A.등록자
		FROM	행사진행물품 AS A (NOLOCK) 
		LEFT OUTER JOIN
				행사구성품	 AS B (NOLOCK) 
		ON		A.구성품코드 = B.구성품코드
		LEFT OUTER JOIN
				거래처마스터 AS C (NOLOCK) 
		ON		A.거래처코드 = C.거래처코드
		WHERE	A.행사코드	= ISNULL(@행사코드,'')
		AND		A.행사구분	= '장례'
		AND		A.구분		= '추가'
		GROUP BY A.행사코드, A.SEQ, A.구분,A.재고구분,B.재고관리여부,A.구성품코드,B.구성품명
				,A.행사상품코드,A.수량,A.업체추가지급액,A.금액,A.결제방법,A.거래처코드,C.거래처명
				,A.증빙구분,A.발행일자,A.분류번호,C.사업자등록번호,A.비고,A.행사구분,A.구분,B.판매단가,A.등록자
		ORDER BY A.구분,A.구성품코드
	END
	/**************************************************************************************************************************************************************************************
	 5.행사 물품
	**************************************************************************************************************************************************************************************/
	/*
	IF @구분 = '물품'
	BEGIN
		IF EXISTS (SELECT 'X' FROM 행사진행물품  WHERE 행사코드 = @행사코드 AND 행사구분 = '장례') 

		BEGIN
			-- 행사진행물품에 데이터가 존재할때..
			SELECT	A.행사코드
					, A.SEQ
					, A.구성품코드
					, B.구성품명
					, A.행사상품코드
					, A.행사구분
					, A.구분
					, A.재고구분
					, A.창고지역
					, (SELECT 창고명 FROM 창고코드  WHERE 창고코드 = A.창고지역) AS 창고지역명
					, A.창고지역상세
					, (SELECT 창고상세명 FROM 창고상세코드  WHERE 창고코드 = A.창고지역 AND 창고상세코드 = A.창고지역상세) AS 창고지역상세명

					, ISNULL(A.수량,0)		AS 수량
					, A.단위
					, ISNULL(A.단가	   ,0)	AS 단가	   
					, ISNULL(A.금액	   ,0)	AS 금액	   
					, ISNULL(A.판매금액,0) 	AS 판매금액
					, ISNULL(A.판매차액,0) 	AS 판매차액
					, ISNULL(A.할인금액,0) 	AS 할인금액
					, A.결제방법
					, A.거래처코드
					, (SELECT 거래처명 FROM  거래처마스터 C  WHERE 거래처코드 = A.거래처코드) AS 거래처명
					, A.증빙구분
					, ISNULL(A.수입수수료	,0)		AS 수입수수료	
					, ISNULL(A.추가수당회사  ,0)	AS 추가수당회사  
					, ISNULL(A.추가수당담당자,0)	AS 추가수당담당자
					, ISNULL(A.추가수당지도사,0)	AS 추가수당지도사
					, ISNULL(A.추가수당상례사,0)	AS 추가수당상례사
					, A.비고
					, ISNULL(B.재고관리여부,'N') AS 재고관리여부
					, 'T' 여부
					, ISNULL(A.업체추가지급액,0) AS 업체추가지급액
					, a.분류번호
					, a.발행일자
					, a.승인번호
			FROM	행사진행물품 A 
					INNER JOIN 행사구성품 B  ON A.구성품코드 = B.구성품코드
			WHERE	A.행사코드 = @행사코드
			AND		A.행사구분 = '장례'
			ORDER BY A.구분,A.구성품코드
		END
		ELSE
		BEGIN
			-- 행사진행물품에 데이터가 존재하지않을때..
			SELECT @장례상품코드  = 행사상품코드
				   ,@종교		  = CASE WHEN ISNULL(종교,'') = '' THEN '유교' ELSE 종교 END
				   ,@창고지역	  = 창고지역
				   ,@창고지역상세 = 창고지역상세
			FROM	행사마스터
			WHERE	행사코드 = @행사코드

			SELECT	@행사코드				AS 행사코드
					, '기본'				AS 구분
					, CASE WHEN B.재고관리여부 = 'Y' THEN '재고품목' ELSE '무형품목' END AS 재고구분
					, A.구성품코드
					, B.구성품명
					, @창고지역 AS 창고지역
					, (SELECT 창고명 FROM 창고코드  WHERE 창고코드 = @창고지역) AS 창고지역명
					, @창고지역상세 AS 창고지역상세
					, (SELECT 창고상세명 FROM 창고상세코드  WHERE 창고코드 = @창고지역 AND 창고상세코드 = @창고지역상세) AS 창고지역상세명

					, 0		AS 수량
					, B.단위
					, B.매입단가			AS 단가
					, 0 AS 금액--ISNULL(A.수량,0)*B.매입단가		AS 금액
					, 0						AS 판매금액
					, 0						AS 판매차액
					, 0						AS 할인금액
					, ''					AS 결제방법
					, B.거래처코드
					, (SELECT 거래처명 FROM 거래처마스터 C  WHERE B.거래처코드 = C.거래처코드) AS 거래처명
					, ''					AS 증빙구분
					, 0						AS 수입수수료
					, ISNULL(B.재고관리여부,'N') AS 재고관리여부
					, @장례상품코드			AS 행사상품코드
					, '장례'				AS 행사구분
					, 'F' 여부

					, 0 AS 추가수당회사
					, 0 AS 추가수당담당자
					, 0 AS 추가수당지도사 
					, 0 AS 추가수당상례사
					, 0 AS 업체추가지급액
					, '' as 분류번호
					, '' as 발행일자
					, '' as 승인번호
			FROM	장례행사구성품	A 
			INNER JOIN 
					행사구성품 B  
			ON		A.구성품코드 =  B.구성품코드	
			WHERE	A.장례상품코드 = @장례상품코드
			AND		B.행사구분 = '10'
			AND		ISNULL(B.종교,'') IN ('',@종교)
		END -- END OF IF EXISTS
	END
	*/
	/**************************************************************************************************************************************************************************************
	 6. 인력 구분 콤보 조회
	**************************************************************************************************************************************************************************************/
	IF @구분 = '구분'
	BEGIN
		SELECT	'- 선택 -' AS 상세분류, '' AS 사용여부
		UNION ALL
		SELECT 	DISTINCT 상세분류, 사용여부
		FROM	영업자격 
		WHERE	대분류 = '장례'
		AND		사용여부 = 'Y' 
	END
	/**************************************************************************************************************************************************************************************
	 7. 인력
	**************************************************************************************************************************************************************************************/
	IF @구분 = '인력'
	BEGIN
		SELECT	A.행사코드, A.SEQ, A.사원코드, B.사원명, A.시작일자, A.시작시간, A.종료일자, A.종료시간
				, A.근무시간, A.도착시간, A.초과근무시간, A.추가금액, A.추가수당
				, A.단가, @단가합계					AS 단가합계
				, A.작업금액, @작업단가합계			AS 작업단가합계
				, A.총액, @총액합계					AS 총액합계
				, A.원천세							AS 세액
				, @세액합계							AS 세액합계
				, A.실지급액, @지급액합계			AS 지급액합계
				, dbo.f_주민번호포맷(A.주민번호)	AS 주민번호
				, A.행사구분, A.참여구분, A.구분 -- 구분 : 기본/추가
				, CASE WHEN ISNULL(A.세금정산여부,'N') = 'Y' THEN '1' ELSE '0' END AS 세금정산여부
				, A.지급방법, A.영업자격코드,A.전문상례사여부
			--	, A.전문상례사여부
			--	, A.복장상태
			--	, B.본부명+'>'+B.지사명 AS 소속
		FROM	행사인력	A (NOLOCK)
		LEFT OUTER JOIN
				사원마스터V B (NOLOCK)
		ON		A.사원코드 = B.사원코드
		WHERE	A.행사코드 = ISNULL(@행사코드,'')
		AND		A.행사구분 = '장례'
		ORDER BY 영업자격코드
	END
	/**************************************************************************************************************************************************************************************
	 8. 장지상세정보
	**************************************************************************************************************************************************************************************/
	IF @구분 = '장지'
	BEGIN
		SELECT	행사코드, 거래처코드, 거래처명, 상담사, 상담일시, 장지, 장묘방식, 기계약, 기계약일자 ,수수료 AS 총금액
				,수수료율	AS 총금액율
				,할인금액, 할인율, 고객확인서  AS 고객확인서발행
				,비고		AS 행사특이사항
		FROM	장지상세 (NOLOCK)
		WHERE	행사코드 = @행사코드
	END
	/**************************************************************************************************************************************************************************************
	 9. 행사주요내용
	**************************************************************************************************************************************************************************************/
	IF @구분 = '내용'
	BEGIN
		SELECT	A.행사코드
				, A.리무진업체,(SELECT 거래처명 FROM 거래처마스터 B (NOLOCK) WHERE A.리무진업체 = B.거래처코드) AS 리무진업체명, A.리무진복장상태, A.리무진청결상태, A.리무진친절상태, A.리무진특이사항
				, A.제단업체, (SELECT 거래처명 FROM 거래처마스터 B  (NOLOCK) WHERE A.제단업체 = B.거래처코드) AS 제단업체명, A.제단상태, A.제단도착시간, A.제단특이사항
				, A.버스업체, (SELECT 거래처명 FROM 거래처마스터 B  (NOLOCK) WHERE A.버스업체 = B.거래처코드) AS 버스업체명, A.버스복장상태, A.버스청결상태, A.버스친절상태, A.버스특이사항
				, A.양복업체, (SELECT 거래처명 FROM 거래처마스터 B  (NOLOCK) WHERE A.양복업체 = B.거래처코드) AS 양복업체명, A.양복상태, A.양복도착시간
				, A.한복업체, (SELECT 거래처명 FROM 거래처마스터 B  (NOLOCK) WHERE A.한복업체 = B.거래처코드) AS 한복업체명, A.한복상태, A.한복도착시간
				, A.셔츠업체, (SELECT 거래처명 FROM 거래처마스터 B  (NOLOCK) WHERE A.셔츠업체 = B.거래처코드) AS 셔츠업체명, A.셔츠상태, A.셔츠도착시간
				, A.상복특이사항
				, A.장례1일차, A.장례2일차, A.장례3일차, A.장례4일차, A.장례5일차
		FROM	장례행사내용 AS A (NOLOCK)
		WHERE	A.행사코드 = @행사코드
	END

	/**************************************************************************************************************************************************************************************
	 10. 행사특이사항
	**************************************************************************************************************************************************************************************/
	IF @구분 = '특이사항'
	BEGIN
		SELECT	행사코드, 행사특이사항
		FROM	행사마스터 A (NOLOCK)
		WHERE	A.행사코드 = @행사코드
	END
	/**************************************************************************************************************************************************************************************
	 11. 지도사지출내역
	**************************************************************************************************************************************************************************************/
	/*
	IF @구분 = '지출'
	BEGIN
		SELECT	행사코드, SEQ, 행사구분, 구분, 사원코드, 지출일자, 지출방법, 지출금액, 지출내역, 증빙구분, 비고
				, 분류번호, 승인번호
		FROM	행사지출내역 
		WHERE	행사코드 = @행사코드
		AND		행사구분 = '장례'
	END
	*/
	/**************************************************************************************************************************************************************************************
	 12. 행사정산상세
	**************************************************************************************************************************************************************************************/
	IF @구분 = '고객'
	BEGIN
		IF EXISTS (SELECT 'X' FROM 행사정산상세 WHERE 행사코드 = @행사코드 AND 행사구분 = '장례')
		BEGIN
			SELECT	행사코드, SEQ, 행사구분, 정산구분, 납입구분, 상태, 입금구분, 발급일자, 발급시간, 발급번호, 승인번호, 정산금액, 발급자명, 관계, 비고, 증빙구분, 'N' AS 저장구분
			FROM	행사정산상세 (NOLOCK)
			WHERE	행사코드 = ISNULL(@행사코드,'')
			AND		행사구분 = '장례'
		END
		ELSE 
		BEGIN
			SELECT	@행사코드 AS 행사코드
					, 0 AS SEQ
					, '장례' AS 행사구분
					, CASE WHEN 입금방법 IN ('카드','신용카드') THEN '카드' ELSE '현금' END AS 정산구분
					, '고객'				AS 납입구분
					, '정상'				AS 상태
					, '일시납'				AS 입금구분
					, ''					AS 발급일자
					, ''					AS 발급시간
					, ''					AS 발급번호
					, ''					AS 승인번호
					, ISNULL(SUM(입금액),0)	AS 정산금액
					, ''					AS 발급자명
					, '20'					AS 관계
					, ''					AS 비고
					, ''					AS 증빙구분
					, 'Y'					AS 저장구분
			FROM	수납일정표 (NOLOCK)
			WHERE	계약상세코드 = @계약상세코드
			AND		입금액 <> 0
			AND		입금방법 <> '행사완납'
			GROUP BY CASE WHEN 입금방법 IN ('카드','신용카드') THEN '카드' ELSE '현금' END
		END
	END
	/**************************************************************************************************************************************************************************************
	13. 행사 정산
	**************************************************************************************************************************************************************************************/
	IF @구분 = '정산'
	BEGIN
		SELECT	A.행사코드
				,A.행사구분
				,A.상품매출								AS 행사진행금액
				,A.추가매출								AS 추가금액
				,A.특별할인								AS 할인상주공제
				,A.매출합계
				,A.부금납입
				,A.잔금									AS 카드수입총액
				,A.현장경비
				,A.회사입금액
				,A.회사입금액 + 추가매출				AS 최종입금액
				,A.회사입금액 + 추가매출 - 실입금액		AS 차액
				,A.매출합계	+ 추가매출					AS 매출총액
				,A.실입금액
				,A.자체용품금액
				,A.총지출경비
				,A.지출비율
				,B.비고
				,B.의전팀의견
				,B.기준금액
				,A.현금정산액
				,A.현금정산일자
				,B.정산완료일
				,A.등록자
		FROM	행사정산 AS A (NOLOCK)
		LEFT OUTER JOIN
				행사마스터 AS B (NOLOCK)
		ON		A.행사코드 = B.행사코드
		WHERE	A.행사코드 = @행사코드
		AND		A.행사구분 = '장례'
	 END

	SET TRANSACTION ISOLATION LEVEL READ COMMITTED;
END