USE [KwooErp]
GO
/****** Object:  StoredProcedure [dbo].[P_행사정산_장례_등록]    Script Date: 2024-05-17 오후 4:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- AUTHOR:		조하영
-- CREATE DATE: 2024.04.26
-- DESCRIPTION:	P_행사정산_장례_등록

-- =============================================
ALTER PROCEDURE [dbo].[P_행사정산_장례_등록]
@MOD					AS VARCHAR(2)		= ''
,@행사코드				AS VARCHAR(15)		= ''
,@행사구분				AS VARCHAR(10)		= ''
,@행사진행금액			AS NUMERIC(18, 0)	= 0	--상품매출
,@추가금액				AS NUMERIC(18, 0)	= 0	--추가매출
,@할인상주공제			AS NUMERIC(18, 0)	= 0	--특별할인
,@매출합계				AS NUMERIC(18, 0)	= 0	--매출합계
,@부금납입				AS NUMERIC(18, 0)	= 0	--부금납입
,@카드수입총액			AS NUMERIC(18, 0)	= 0	--잔금
,@현장경비				AS NUMERIC(18, 0)	= 0	--현장경비
,@회사입금액			AS NUMERIC(18, 0)	= 0	--회사입금액
,@실입금액				AS NUMERIC(18, 0)	= 0	--실입금액
,@자체용품금액			AS NUMERIC(18, 0)	= 0	--자체용품금액
,@총지출경비			AS NUMERIC(18, 0)	= 0	--총지출경비
,@지출비율				AS NUMERIC(18, 0)	= 0	--지출비율
,@비고					AS VARCHAR(2000)	= '' --비고
,@의전팀의견			AS VARCHAR(200)		= '' --의전팀의견
,@기준금액				AS NUMERIC(18, 0)	= 0 --기준금액
,@현금정산액			AS NUMERIC(18, 0)	= 0	--현금정산액
,@현금정산일자			AS NUMERIC(18, 0)	= 0	--현금정산일자
,@등록자				AS VARCHAR(15)		= 0 --등록자

AS
BEGIN

	SET NOCOUNT ON;
	
	IF @MOD = 'IU'
	BEGIN
		UPDATE	 A
		SET		상품매출		= @행사진행금액
				,추가매출		= @추가금액
				,특별할인		= @할인상주공제
				,매출합계		= @매출합계
				,부금납입		= @부금납입
				,잔금			= @카드수입총액
				,현장경비		= @현장경비		
				,회사입금액		= @회사입금액	
				,실입금액		= @실입금액		
				,자체용품금액	= @자체용품금액	
				,총지출경비		= @총지출경비	
				,지출비율		= @지출비율		
				--,비고			= @비고			
				,현금정산액		= @현금정산액	
				,현금정산일자	= @현금정산일자	
		FROM	행사정산 AS A (NOLOCK)
		WHERE	행사코드 = @행사코드
		AND		행사구분 = @행사구분

		UPDATE	A
		SET		의전팀의견 = @의전팀의견
				,비고 = @비고
				,기준금액 = @기준금액
		FROM	행사마스터 AS A
		WHERE	행사코드 = @행사코드
		

		IF @@ROWCOUNT <= 0
		BEGIN
			INSERT INTO 행사정산 (
				 행사코드,행사구분,상품매출,추가매출,특별할인,매출합계,부금납입,잔금,
				 현장경비,회사입금액,실입금액,자체용품금액,총지출경비,지출비율,비고
				 ,현금정산액,현금정산일자,등록자
			) VALUES(
				 @행사코드,@행사구분,@행사진행금액,@추가금액,@할인상주공제,@매출합계,@부금납입,@카드수입총액
				,@현장경비,@회사입금액,@실입금액,@자체용품금액,@총지출경비,@지출비율,@비고
				,@현금정산액,@현금정산일자,@등록자
			);

			UPDATE	A
			SET		의전팀의견 = @의전팀의견
					,비고 = @비고
					,기준금액 = @기준금액
			FROM	행사마스터 AS A
			WHERE	행사코드 = @행사코드
			-- 계약 개발시 주석풀기
			--IF @즉발행사구분 = '계약'
			--BEGIN
			--
			--	-- 행사완료 후 수납등록
			--	SELECT	@부금잔여금액 = SUM(납입예정금액) 
			--			,@부금잔여회차 = MIN(회차)
			--	FROM	수납일정표 (NOLOCK)
			--	WHERE	계약코드 = @계약코드
			--	AND		계약구분 = '라이프'
			--	AND		ISNULL(입금액,0) = 0
			--	AND		ISNULL(납입일자,'') = ''
			--
			--	INSERT INTO 수납마스터(
			--		수납일자,계약코드,계약상세코드,회원코드,사원코드,납입회차,수납구분,입금액,입금방법,할인금액,등록자
			--	)				
			--	SELECT	@행사일자,계약코드,계약상세코드,회원코드,담당사원코드,@부금잔여회차,'월부금',@부금잔여금액,'행사완납'
			--			,CASE WHEN @행사특별할인 = 0 THEN 0 ELSE @행사특별할인 END
			--			,@등록자
			--	FROM	계약마스터 (NOLOCK)
			--	WHERE	계약코드 = @계약코드
			--	AND		계약구분 = '라이프'
			--
			--	EXEC P_계약상태변경_행사 '정산', @행사구분, @행사코드, '완료', @행사일자, @계약코드, @계약상세코드, @제품완납구분, '행사', @등록자;
			--	EXEC P_CMS상태변경 @계약코드, @계약상세코드, '해지','행사완료',@등록자;
			--
			--END; -- END OF IF
	END; -- END OF IF:@@ROWCOUNT
	/*
	-- 행사정산 삭제		
	IF @MOD = 'D'
	BEGIN
		DELETE FROM	행사정산 WHERE 행사코드 = @행사코드 AND	행사구분 = @행사구분
	END
	*/
END

END