USE [KwooErp]
GO
/****** Object:  StoredProcedure [dbo].[P_사원마스터]    Script Date: 2024-07-29 오후 1:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		정경윤
-- Create date: 2018.07.17
-- Description:	사원마스터
-- exec [P_사원마스터]
-- 실거주지 주소 => 직장주소 
-- =============================================
ALTER PROCEDURE [dbo].[P_사원마스터]
	 @구분				 VARCHAR(1)	= 'S'
	,@사원코드  		 VARCHAR(15) = ''
	,@사원명   			 VARCHAR(50) = ''
	,@사원구분			 VARCHAR(10) = ''
	,@재직구분			 VARCHAR(10) = ''
	,@주민번호			 VARCHAR(13) = ''
	,@사원등급			 VARCHAR(10) = ''
	,@사원등록일자		 VARCHAR(10) = ''
	,@지원서접수일		 VARCHAR(10) = ''
	,@퇴사일자			 VARCHAR(10) = ''
	,@유치자코드		 VARCHAR(15) = ''
	,@대표사원코드		 VARCHAR(15) = ''
	,@멘토코드			 VARCHAR(15) = ''
	,@ERP사용구분 		 VARCHAR(1)  = ''
	,@SMS수신 			 VARCHAR(1)  = ''
	,@재고불출구분 		 VARCHAR(1)  = ''
	,@휴대폰			 VARCHAR(20) = ''
	,@집전화			 VARCHAR(20) = ''
	,@직장전화			 VARCHAR(20) = ''
	,@업종				 VARCHAR(50) = ''
	,@직종				 VARCHAR(50) = ''
	,@직장명			 VARCHAR(50) = ''
	,@부서명			 VARCHAR(50) = ''
	,@자택우편번호		 VARCHAR(7)  = ''
	,@자택우편주소		 VARCHAR(200)= ''
	,@자택도로명주소	 VARCHAR(200)= ''
	,@자택상세주소		 VARCHAR(200)= ''
	,@직장우편번호		 VARCHAR(7)  = ''
	,@직장우편주소		 VARCHAR(200)= ''
	,@직장상세주소		 VARCHAR(200)= ''
	,@은행코드			 VARCHAR(5)  = ''
	,@계좌번호			 VARCHAR(20) = ''
	,@예금주			 VARCHAR(100)= ''
	,@예금주주민번호	 VARCHAR(13) = ''
	,@예금주관계		 VARCHAR(50) = ''
	,@지급방법			 VARCHAR(10) = ''
	,@거래처코드		 VARCHAR(10) = ''
	,@법인카드사		 VARCHAR(10) = ''
	,@법인카드번호		 VARCHAR(20) = ''
	,@EMail계정			 VARCHAR(50) = ''
	,@EMail호스트		 VARCHAR(50) = ''
	,@EMail호스트2		 VARCHAR(50) = ''
	,@생일				 VARCHAR(10) = ''
	,@생일구분			 VARCHAR(4)  = ''
	,@결혼기념일		 VARCHAR(10) = ''
	,@비밀번호			 VARCHAR(20) = ''
	,@본부코드			 VARCHAR(10) = ''
	,@지사코드			 VARCHAR(10) = ''
	,@지점코드			 VARCHAR(10) = ''
	,@팀코드			 VARCHAR(10) = ''
    ,@직급코드			 VARCHAR(10) = ''
    ,@입사지원서		 VARCHAR(1)  = 'N'
    ,@위촉계약서		 VARCHAR(1)  = 'N'
    ,@정보제공동의서	 VARCHAR(1)  = 'N'
    ,@신분증사본		 VARCHAR(1)  = 'N'
    ,@등본				 VARCHAR(1)  = 'N'
    ,@통장사본			 VARCHAR(1)  = 'N'
    ,@가족관계증명서	 VARCHAR(1)  = 'N'
    ,@고객리스트		 VARCHAR(1)  = 'N'
    ,@BP적립확인서		 VARCHAR(1)  = 'N'
    ,@이미지경로		 VARCHAR(100)= 'N'
    ,@실적본부코드		 VARCHAR(7)  = ''
    ,@실적지사코드		 VARCHAR(7)  = ''
    ,@실적지점코드		 VARCHAR(7)  = ''
    ,@실적팀코드		 VARCHAR(7)  = ''
    ,@직장팩스			 VARCHAR(20) = ''
    ,@세금성명			 VARCHAR(50) = ''
    ,@세금주민번호		 VARCHAR(13) = ''
    ,@세금사업자번호	 VARCHAR(20) = ''
	,@비고				 VARCHAR(2000)= ''
	,@등록자			 VARCHAR(15) = 'system'
	,@증원사원코드		 VARCHAR(15) = ''
	,@QR코드			 VARCHAR(50) = ''
	,@세금구분			 VARCHAR(12) =''
	,@실거주지우편번호	 VARCHAR(6) =''
	,@실거주지우편주소	 VARCHAR(200) =''
	,@실거주지상세주소	 VARCHAR(200) =''
	,@실거주지도로명주소 VARCHAR(200) =''
	,@CTI_ID			 VARCHAR(20)=''
	,@CTI_PWD			 VARCHAR(20)=''
	,@CTI_EXT			 VARCHAR(20)=''
    ,@입사신청서		 VARCHAR(2)='N'
	,@수당지급여부		 VARCHAR(1)=''

AS
BEGIN

	SET NOCOUNT ON;


	DECLARE  @ToDay				VARCHAR(8) = ''
			,@사원권한			VARCHAR(8) = '00010'
			,@현재년월			VARCHAR(6) = ''
			,@V_변경전_세금구분	VARCHAR(12) =''

	SELECT @ToDay = CONVERT(VARCHAR(8), GETDATE(), 112)
	SELECT @휴대폰 = REPLACE(@휴대폰,'-','')
	SELECT @집전화 = REPLACE(@집전화,'-','')
	SELECT @직장팩스 = REPLACE(@직장팩스,'-','')
	SELECT @직장전화 = REPLACE(@직장전화,'-','')
	SELECT @계좌번호 = REPLACE(@계좌번호,'-','')
	SELECT @예금주주민번호 = REPLACE(@예금주주민번호,'-','')
	SELECT @현재년월 = LEFT(CONVERT(VARCHAR(6), GETDATE(), 112),6)

	SET @입사신청서 = CASE WHEN @입사신청서 = 'Y' THEN 'Y' ELSE 'N' END
	
	IF @구분 IN ('I','U')
	BEGIN
		SELECT @V_변경전_세금구분 = 세금구분 FROM 사원마스터 AS A (NOLOCK) WHERE 사원코드 = @사원코드

		IF @V_변경전_세금구분 <> @세금구분 AND @현재년월 <> LEFT(@사원등록일자,6) 
		BEGIN
  				RAISERROR('입사년월과 현재년월이 다른 경우 [세금구분] 수정 불가합니다. 지급수수료 계산시 문제발생.',16, 1, '', '', '')
				RETURN
		END

	    UPDATE  A
	       SET 	사원명			    =@사원명
				,사원구분	        =@사원구분
				,주민번호	        =@주민번호
				,사원등급		    =@사원등급
				,사원등록일자	    =@사원등록일자
				,지원서접수일	    =@지원서접수일
				,퇴사일자		    =@퇴사일자
				,유치자코드		    =@유치자코드
				,대표사원코드		=@대표사원코드
				,멘토코드		    =@멘토코드
				,ERP사용구분	    =CASE WHEN @세금구분 = '부가세' THEN 'Y' ELSE 'N' END
				,SMS수신		    =@SMS수신
				,휴대폰			    =@휴대폰
				,집전화			    =@집전화
				,직장전화		    =@직장전화
				,업종			    =@업종
				,직종			    =@직종
				,직장명			    =@직장명
				,자택우편번호	    =@자택우편번호
				,자택우편주소	    =@자택우편주소
				,자택도로명주소     =@자택도로명주소
				,자택상세주소	    =@자택상세주소
				,직장우편번호	    =@직장우편번호
				,직장우편주소	    =@직장우편주소
				,직장상세주소	    =@직장상세주소
				,거래처코드		    =@거래처코드
				,법인카드사		    =@법인카드사
				,법인카드번호	    =@법인카드번호
				,EMail계정		    =@EMail계정
				,EMail호스트	    =@Email호스트
				,EMail호스트2	    =@EMail호스트2
				,생일 			    =@생일
				,생일구분		    =@생일구분
				,결혼기념일		    =@결혼기념일
				,QR코드			    =@QR코드
				,입사지원서         =@입사지원서
				,위촉계약서         =@위촉계약서
				,정보제공동의서     =@정보제공동의서
				,신분증사본         =@신분증사본
				,등본               =@등본
				,통장사본           =@통장사본
				,가족관계증명서     =@가족관계증명서
				,고객리스트         =@고객리스트
				,BP적립확인서       =@BP적립확인서
				,이미지경로         =@이미지경로
				,실적본부코드       =@실적본부코드
				,실적지사코드       =@실적지사코드
				,실적지점코드       =@실적지점코드
				,실적팀코드         =@실적팀코드
				,직장팩스           =@직장팩스
				,비고			    =@비고
				,수정자		        =@등록자
				,수정일자	        =GETDATE()
				,세금구분		    =@세금구분
				,실거주지우편번호   =@실거주지우편번호	
				,실거주지우편주소   =@실거주지우편주소	
				,실거주지상세주소   =@실거주지상세주소	
				,실거주지도로명주소 =@실거주지도로명주소
				,CTI_ID			    =@CTI_ID
				,CTI_PWD			=@CTI_PWD
				,CTI_EXT			=@CTI_EXT
				,재직구분		    =@재직구분
	            ,입사신청서         =@입사신청서
				,수당지급여부       =@수당지급여부
		FROM	사원마스터 AS A 		
	    WHERE	사원코드 = @사원코드

		IF @@ROWCOUNT = 0
	    BEGIN
	  
			SET @비밀번호 =  @사원코드;
			SET @사원권한 = (CASE WHEN @사원구분 = '임직원'
								  THEN (CASE WHEN @지사코드 = '' THEN '00001' --임원
											 WHEN @지사코드 = '10002' THEN '00004' --경영지원
											 WHEN @지사코드 = '10003' THEN '00005' --마켓팅
											 WHEN @지사코드 = '11757' THEN '00002' --고객센터
											 WHEN @지사코드 = '10839' THEN '00006' --법인영업
											 WHEN @지사코드 = '10004' THEN '00003' --의전관리
										END)
								  WHEN @사원구분 IN ('영업사원','법인','의전팀장보','의전팀장본')
								  THEN (CASE WHEN @본부코드 = '10005' THEN '00008' --SJ산림_중앙회
											 WHEN @본부코드 = '10017' THEN '00009' --SJ산림_회원조합
											 WHEN @본부코드 = '11763' THEN '00007' --외주의전
											 WHEN @본부코드 IN ('10346','10348','10350','10351')
												  THEN (CASE WHEN @직급코드 = '00008' THEN '00010' --영업사원
															 WHEN @직급코드 = '00011' THEN '00014' --법인영업지점장
															 WHEN @직급코드 = '00012' THEN '00015' --지사장
															
														END)
												  ELSE '00010'
										END)
								  ELSE '00010'
							END)
		
			INSERT INTO 사원마스터 
				  ( 사원코드, 사원명,	사원구분, 재직구분, 주민번호, 사원등급, 사원등록일자, 지원서접수일,퇴사일자,
					유치자코드, 대표사원코드
					, ERP사용구분
					, SMS수신, 재고불출구분, 휴대폰, 집전화, 직장전화, 업종, 직종,
					직장명, 부서명, 자택우편번호, 	자택우편주소,자택도로명주소, 자택상세주소, 직장우편번호, 직장우편주소,
					직장상세주소, 은행코드, 계좌번호, 예금주, 예금주주민번호, 예금주관계, 지급방법, 거래처코드,
					법인카드사, 법인카드번호,	Email계정, Email호스트, EMail호스트2, 생일,	생일구분,
					결혼기념일, 비밀번호, QR코드, 입사지원서, 위촉계약서, 정보제공동의서, 신분증사본, 등본, 통장사본,		
					가족관계증명서, 고객리스트, BP적립확인서,이미지경로,실적본부코드,실적지사코드,실적지점코드,실적팀코드,
					직장팩스, 세금성명, 세금주민번호, 세금사업자번호, 비고,등록자, 멘토코드 ,수정자 ,신규승인
					,세금구분 ,실거주지우편번호 ,실거주지우편주소 ,실거주지상세주소 ,실거주지도로명주소 
					,CTI_ID	,CTI_PWD ,CTI_EXT ,입사신청서 ,수당지급여부
			) VALUES ( 
					 @사원코드, @사원명,	@사원구분, @재직구분, @주민번호, @사원등급, @사원등록일자, @지원서접수일,@퇴사일자				
					,@유치자코드, @대표사원코드
					, CASE WHEN @세금구분 = '부가세' THEN 'Y' ELSE 'N' END
					, @SMS수신, @재고불출구분, @휴대폰, @집전화, @직장전화, @업종, @직종				 
					,@직장명, @부서명, @자택우편번호, 	@자택우편주소, @자택도로명주소, @자택상세주소, @직장우편번호, @직장우편주소
					,@직장상세주소, @은행코드, @계좌번호, @예금주 ,@예금주주민번호, @예금주관계, @지급방법, @거래처코드
					,@법인카드사, @법인카드번호,	@Email계정, @Email호스트, @EMail호스트2, @생일,	@생일구분
					,@결혼기념일, @비밀번호, @QR코드, @입사지원서, @위촉계약서, @정보제공동의서, @신분증사본, @등본, @통장사본
					,@가족관계증명서, @고객리스트, @BP적립확인서, @이미지경로,@실적본부코드,@실적지사코드,@실적지점코드,@실적팀코드
					,@직장팩스, @세금성명, @세금주민번호, @세금사업자번호, @비고,@등록자, @멘토코드, @등록자,'N'
					,@세금구분 ,@실거주지우편번호 ,@실거주지우편주소 ,@실거주지상세주소 ,@실거주지도로명주소
					,@CTI_ID ,@CTI_PWD ,@CTI_EXT ,@입사신청서 ,@수당지급여부)

			INSERT INTO 조직변경이력 (사원코드, 시작일자, 종료일자, 변경일자, 변경구분, 본부코드, 지사코드, 지점코드, 팀코드, 등록자
			)VALUES(@사원코드, @사원등록일자, '99991231', @사원등록일자, '신규등록', @본부코드, @지사코드, @지점코드, @팀코드, @등록자)
			 
			INSERT INTO 직급변경이력 (사원코드, 시작일자, 종료일자, 직급코드, 재직구분, 변경구분, 등록자
			)VALUES(@사원코드, @사원등록일자, '99991231', @직급코드, @재직구분, '신규등록', @등록자)

			INSERT INTO 계좌변경이력 (사원코드, 시작일자, 종료일자 ,예금주 ,주민번호 ,관계 ,은행 ,계좌번호 ,지급방법 ,등록자
			)VALUES(@사원코드, @사원등록일자, '99991231', @예금주 ,@예금주주민번호, @예금주관계 ,@은행코드 ,@계좌번호 ,@지급방법 ,@등록자)

			IF (@세금주민번호 <> '' OR @세금사업자번호 <> '')
			BEGIN
				INSERT INTO 사원계산서변경이력(사원코드, 시작일자, 종료일자, 신고자명, 주민번호 ,사업자번호 , 등록자
				)VALUES(@사원코드 ,@사원등록일자 ,'99991231', @세금성명 ,@세금주민번호 ,@세금사업자번호 ,@등록자)
			END
	
			INSERT INTO SY_SYSUSER (ID_USER, NO_EMP, NO_PASSWORD, DT_PASSWORD, CD_AUTHORITY, YN_USE
			)VALUES(@사원코드,@사원코드,@비밀번호,@사원등록일자,@사원권한,'N')
	
			INSERT INTO SY_비밀번호이력 (사원코드, 생성일자, 종료일자, 비밀번호
			)VALUES(@사원코드,@사원등록일자,convert(varchar(8),dateadd(m,6,@사원등록일자),112),@비밀번호)
	
			EXEC P_영업자격관리 'I', @사원코드 , '00005' ,@ToDay ,'정상' ,'' ,'' ,'' ,'신규' , @등록자 
			
			IF @사원구분 IN ('임직원')
			BEGIN 
				EXEC P_영업자격관리 'I', @사원코드 , '00006' ,@ToDay ,'정상' ,'' ,'' ,'' ,'신규' , @등록자
			END
			
			-- 2019.01.03 손혜진 추가 : 신규사원 기본 본인 조직 셋팅
			-- 2019.01.22 손혜진 수정 : 영업사원, 법인만 조직 셋팅
			IF @사원구분 IN ('영업사원','법인')
			BEGIN
				INSERT INTO SY_MENU_ORG(
					사원코드, 본부코드, 지사코드, 지점코드, 팀코드, 레벨권한, 등록자
				)VALUES(
					@사원코드,@본부코드,@지사코드,@지점코드,@팀코드
					,CASE WHEN ISNULL(@본부코드,'') <> '' AND ISNULL(@지사코드,'') = '' 
						  		AND ISNULL(@지점코드,'') = '' AND ISNULL(@팀코드,'') = '' THEN 1
						  WHEN ISNULL(@지사코드,'') <> '' AND ISNULL(@지점코드,'') = '' 
						  		AND ISNULL(@팀코드,'') = '' THEN 2
						  WHEN ISNULL(@지점코드,'') <> '' AND ISNULL(@팀코드,'') = '' THEN 3
						  ELSE 4
					 END
					,@등록자
				)
			END
		
		END
	END
	
	IF @구분 = 'D'
	BEGIN
		
	    DELETE A FROM 조직변경이력 AS A WHERE 사원코드 = @사원코드
	    	  
	    DELETE A FROM 직급변경이력 AS A WHERE 사원코드 = @사원코드
	    	   
	    DELETE A FROM 증원사원변경이력 AS A WHERE 사원코드 = @사원코드
		
		DELETE A FROM 계좌변경이력 AS A WHERE 사원코드 = @사원코드
			   
		DELETE A FROM 영업자격관리 AS A WHERE 사원코드 = @사원코드
			   
		DELETE A FROM 사원계산서변경이력 AS A WHERE 사원코드 = @사원코드
			   
		DELETE A FROM SY_SYSUSER AS A WHERE NO_EMP = @사원코드
			   
		DELETE A FROM SY_비밀번호이력 AS A WHERE 사원코드 = @사원코드
			   
		DELETE A FROM 사원마스터 AS A WHERE 사원코드 = @사원코드
		 
	END
	
END