USE [KwooErp]
GO
/****** Object:  StoredProcedure [dbo].[P_장례행사_문자전송]    Script Date: 2024-08-08 오전 10:22:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		 오원준
-- Create date:  2020.05.19
-- Description:	 장례행사 문자 전송 팝업
-- SELECT  FROM 장례행사마스터V
-- EXEC P_장례행사_문자전송 '10001270', '장례상담결과'
-- SELECT 접수일자 FROM 장례행사마스터V WHERE 행사코드 = '10001270'
-- SELECT 상황부여, 도착시간, 입관일자 , 발인일자,발인시간 FROM 장례행사마스터V WHERE 행사코드 = '10001158'
-- =============================================
ALTER PROCEDURE [dbo].[P_장례행사_문자전송]
	 @행사코드	VARCHAR(15) = ''
	,@문자구분  VARCHAR(15) = ''

AS
BEGIN
	SET NOCOUNT ON;
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	DECLARE @줄바꿈 VARCHAR(5);

	SET @줄바꿈 = CHAR(13)+CHAR(10);

	CREATE TABLE #문자내용(
		 접수일자		VARCHAR(15)
		,회원명			VARCHAR(50)
		,휴대폰			VARCHAR(20)
		,접수인연락처	VARCHAR(20)
		,계약상품명		VARCHAR(50)
		,계약상세코드	VARCHAR(15)
		,납입회차		VARCHAR(5)
		,납입금액		VARCHAR(50)
		,잔여회차		VARCHAR(5)
		,잔여금액		VARCHAR(50)
		,고인성명		VARCHAR(50)
		,고인성별		VARCHAR(10)
		,연령			VARCHAR(5)
		,관계			VARCHAR(20)
		,상주			VARCHAR(50)
		,상주휴대폰		VARCHAR(20)
		,접수인			VARCHAR(50)
		,모집사원명		VARCHAR(50)
		,모집사원본부명	VARCHAR(100)
		,모집사원지사명	VARCHAR(100)
		,장례식장		VARCHAR(200)
		,종교			VARCHAR(20)
		,상황부여		VARCHAR(5)
		,도착시간		VARCHAR(5)
		,입관일자		VARCHAR(12)
		,입관시간		VARCHAR(10)
		,발인일자		VARCHAR(12)
		,발인시간		VARCHAR(10)
		,장지1차		VARCHAR(1000)
		,장지2차		VARCHAR(100)
		,취소상세		VARCHAR(50)
		,지도사명		VARCHAR(100)
		,지도사직급명	VARCHAR(50)
		,지도사휴대폰	VARCHAR(20)
		,수의구분		VARCHAR(10)
		,장법			VARCHAR(10)
		,운구여부		VARCHAR(10)
		,면제회차		VARCHAR(5)
		,면제금액		VARCHAR(50)
		,발생장소		VARCHAR(100)
		,취소일자		VARCHAR(12)
		,취소시간		VARCHAR(10)
		,모집사원팀명	VARCHAR(100)	-- 문자내용추가 2021.12.27
	);

	-- 기초 데이터 ----------------------------------------------------------------------------
	INSERT INTO #문자내용(
			 접수일자,회원명,휴대폰,접수인연락처,계약상품명,계약상세코드,납입회차,납입금액,잔여회차,잔여금액,고인성명,고인성별,연령,관계
			,상주,상주휴대폰,접수인,모집사원명,모집사원본부명,모집사원지사명,장례식장,종교,상황부여,도착시간,입관일자,입관시간
			,발인일자,발인시간,장지1차,장지2차,취소상세,지도사명,지도사직급명,지도사휴대폰,수의구분,장법,운구여부,면제회차,면제금액,발생장소
			,취소일자,취소시간,모집사원팀명
	)
	SELECT	 ISNULL(dbo.f_데이터포맷변환('날짜2',A.접수일자,0),'') AS 접수일자
			,ISNULL(A.회원명,'') AS 회원명
			,ISNULL(dbo.f_전화번호포맷(A.휴대폰),'') AS 휴대폰
			,ISNULL(dbo.f_전화번호포맷(A.접수인연락처),'') AS 접수인연락처
			,ISNULL(A.계약상품명,'') AS 계약상품명
			,ISNULL(A.계약상세코드,'') AS 계약상세코드
			,CAST(ISNULL(A.납입회차,0) AS VARCHAR(5)) AS 납입회차			
			,dbo.f_데이터포맷변환('금액','',ISNULL(A.납입금액,0)) AS 납입금액
			,CAST(ISNULL(A.잔여회차,0) AS VARCHAR(5)) AS 잔여회차
			,dbo.f_데이터포맷변환('금액','',ISNULL(A.잔여금액,0)) AS 잔여금액	
			,ISNULL(A.고인성명,'') AS 고인성명
			,ISNULL(A.고인성별,'') AS 고인성별
			,CAST(ISNULL(A.연령,0) AS VARCHAR(5)) AS 연령
			,ISNULL(A.관계명,'') AS 관계
			,ISNULL(A.상주,'') AS 상주
			,dbo.f_전화번호포맷(A.상주휴대폰) AS 상주휴대폰
			,ISNULL(A.접수인,'') AS 접수인
			,ISNULL(A.모집사원명,'') AS 모집사원명
			,ISNULL(A.모집사원본부명,'') AS 모집사원본부명
			,ISNULL(A.모집사원지사명,'') AS 모집사원지사명
			,ISNULL(A.장례식장,'') AS 장례식장
			,ISNULL(A.종교,'') AS 종교 
			,dbo.f_데이터포맷변환('시간',ISNULL(A.상황부여,''),0) AS 상황부여
			,dbo.f_데이터포맷변환('시간',ISNULL(A.도착시간,''),0) AS 도착시간
			,dbo.f_데이터포맷변환('날짜2',A.입관일자,0) AS 입관일자
			,dbo.f_데이터포맷변환('시간',A.입관시간,0) AS 입관시간
			,dbo.f_데이터포맷변환('날짜2',A.발인일자,0) AS 발인일자
			,dbo.f_데이터포맷변환('시간',A.발인시간,0) AS 발인시간
			,ISNULL(A.장지1차,'') AS 장지1차
			,ISNULL(A.장지2차,'') AS 장지2차
			,ISNULL(A.취소상세,'') AS 취소상세
			,ISNULL(A.의전팀장명,'') AS 지도사명
			,ISNULL(A.의전팀장직급명,'') AS 지도사직급명
			,ISNULL(dbo.f_전화번호포맷(A.의전팀장휴대폰),'') AS 지도사휴대폰
			,ISNULL(A.수의구분,'') AS 수의구분
			,ISNULL(A.장례형태,'') AS 장법
			,(CASE WHEN ISNULL(A.운구여부,'') = 'Y' THEN '사용'
			       WHEN ISNULL(A.운구여부,'') = 'N' THEN '미사용'
				   ELSE ''
			  END)AS 운구여부
			,CAST(ISNULL(A.할인회차,0) AS VARCHAR(5)) AS 면제회차			
			,dbo.f_데이터포맷변환('금액','',ISNULL(A.할인금액,0)) AS 면제금액
			,ISNULL(발생장소,'') AS 발생장소
			,dbo.f_데이터포맷변환('날짜2',A.취소일자,0) AS 취소일자
			,dbo.f_데이터포맷변환('시간',A.취소시간,0) AS 취소시간
			
			,(CASE WHEN 모집사원본부코드 IN ('10017','11852') THEN ('/'+모집사원팀명)
				   WHEN 모집사원본부코드 IN ('10005') AND 모집사원지점명 <> '' THEN ('/'+모집사원지점명)
				   ELSE ''
			  END) AS 모집사원팀명 -- 모집사원팀명 추가 2021.12.27 정의성과장 요청

	FROM	 장례행사마스터V AS A
	WHERE	 A.행사코드 = @행사코드

	-- 문자내용 조회----------------------------------------------------------------------------
	/*
    SELECT(
			CASE @문자구분 
					WHEN '장례접수현황' THEN
					 	 '[SJ산림조합상조]장례접수현황'
					    +@줄바꿈+'＊접수일: '+접수일자
					    +@줄바꿈+'＊회원: '+회원명+' ('+관계+'상)'
						+@줄바꿈+'＊접수자: '+접수인
						+@줄바꿈+'＊연락처: '+접수인연락처
					    +@줄바꿈+'＊상품: '+계약상품명
					    +@줄바꿈+'＊납입: '+'납입회차 '+납입회차+'('+납입금액+')'
						+@줄바꿈+SPACE(11)+'잔여회차 '+잔여회차+'('+잔여금액+')'
						+@줄바꿈+SPACE(11)+'면제회차 '+면제회차+'('+면제금액+')'
					    +@줄바꿈+'＊고인: '+고인성명
						+@줄바꿈+'＊현재: '+발생장소
						+@줄바꿈+'＊상주: '+상주
						--+@줄바꿈+'＊가입처: '+모집사원명+'('+모집사원본부명+'/'+모집사원지사명+')'
						+@줄바꿈+'＊가입처: '+모집사원명+'('+모집사원본부명+'/'+모집사원지사명+모집사원팀명+')'
						+@줄바꿈+'＊모집인과의 관계: '
						+@줄바꿈+'＊장례식장: '+장례식장
						+@줄바꿈+'＊상담사: '
						+@줄바꿈+'＊특이사항: ' 
					    +@줄바꿈+'＊지도사: '+지도사명+SPACE(1)+지도사직급명+SPACE(1)+지도사휴대폰
					     				     
						
					WHEN '장례상담결과' THEN
					     '[SJ산림조합상조]상담결과보고' 
					     +@줄바꿈+'＊회원: '+회원명+SPACE(1)+휴대폰
					     +@줄바꿈+'＊고인: '+고인성명+' ('+연령+'세,'+고인성별+')'
					     +@줄바꿈+'＊상주: '+상주+SPACE(1)+상주휴대폰
					     +@줄바꿈+'＊식장: '+장례식장
					     +@줄바꿈+'＊상품: '+계약상품명
					     +@줄바꿈+'＊종교: '+종교
						 +@줄바꿈+'＊사망: '
						 +@줄바꿈+'＊도착: '+접수일자+SPACE(1)+도착시간
					     +@줄바꿈+'＊입관: '+입관일자+SPACE(1)+입관시간
					     +@줄바꿈+'＊발인: '+발인일자+SPACE(1)+발인시간
						 +@줄바꿈+'＊이송: '+운구여부
					     +@줄바꿈+'＊장지: '+장법
						 +@줄바꿈+SPACE(1)+'1차- '+장지1차
						 +@줄바꿈+SPACE(1)+'2차- '+장지2차
						 +@줄바꿈+'＊수의: '+수의구분
						 +@줄바꿈+'＊수의대체: '+
						 +@줄바꿈+'＊기타: '+
						 +@줄바꿈+'＊모집인과의 관계: '
					     +@줄바꿈+'＊지도사: '+지도사명+SPACE(1)+지도사직급명+SPACE(1)+지도사휴대폰
						 +@줄바꿈+'＊특이사항: ' 

					WHEN '취소보고' THEN
						 '[SJ산림조합상조]취소보고'
						 +@줄바꿈+'＊회원: '+회원명+' ('+관계+'상)'+SPACE(1)+휴대폰
						 +@줄바꿈+'＊고인: '+고인성명+' ('+연령+'세,'+고인성별+')'
						 +@줄바꿈+'＊상주: '+상주+SPACE(1)+상주휴대폰
						 +@줄바꿈+'＊장례식장: '+장례식장
						 +@줄바꿈+'＊상품: '+계약상품명
						 +@줄바꿈+'＊종교: '+종교
						 +@줄바꿈+'＊취소사유: '
						 +@줄바꿈+'＊도착: '+접수일자+SPACE(1)+도착시간
						 +@줄바꿈+'＊취소: '+취소일자+SPACE(1)+취소시간
						 +@줄바꿈+'＊지도사: '+지도사명+SPACE(1)+지도사직급명+SPACE(1)+지도사휴대폰
						 
		    END) AS 문자내용
	FROM	#문자내용
    */
    -- 알림톡용 양식으로 변경
    /*
    SELECT(
			CASE @문자구분 
					WHEN '장례접수현황' THEN
                        '[SJ산림조합상조] 장례접수사항'
                        +@줄바꿈+'※ 접수일: '+접수일자
                        +@줄바꿈+'※ 회원명: '+회원명
                        +@줄바꿈+'※ 연락처: '+휴대폰
                        +@줄바꿈+'※ 상품: '+계약상품명+' 납입회차 '+납입회차+'회 '+'('+납입금액+') / 잔여회차 '+잔여회차+'회 '+'('+잔여금액+')'
                        +@줄바꿈+'※ 고인: '+고인성명+' ('+관계+')'
                        +@줄바꿈+'※ 현재: '+발생장소
                        +@줄바꿈+'※ 상주: '+상주+' ('+상주휴대폰+')'
                        +@줄바꿈+'※ 장례식장: '+장례식장
                        +@줄바꿈+'※ 가입처: '+모집사원명+'('+모집사원본부명+'/'+모집사원지사명+모집사원팀명+')'
                        +@줄바꿈+'※ 특이사항 : 장례식장 특약 빈소사용료 50% 할인, 모집인이 행사 대리접수, 운구이송은 지도사 연락 시 상의한다 함' 
                        +@줄바꿈+'※ 접수자: '+접수인+' ('+접수인연락처+')'

					WHEN '장례상담결과' THEN
                        '(SJ산림조합상조) 상담결과보고'
                        +@줄바꿈+'※ 접수일: '+접수일자
                        +@줄바꿈+'※ 회원명: '+회원명+SPACE(1)+휴대폰
                        +@줄바꿈+'※ 고인: '+고인성명+' ('+관계+')'
                        +@줄바꿈+'※ 상주: '+상주+SPACE(1)+'('+상주휴대폰+')'
                        +@줄바꿈+'※ 장례식장: '+장례식장
                        +@줄바꿈+'※ 상품: '+계약상품명
                        +@줄바꿈+'※ 종교: '+종교
                        +@줄바꿈+'※ 발생: '
                        +@줄바꿈+'※ 접수: '+접수일자+SPACE(1)+상황부여
                        +@줄바꿈+'※ 도착: '+접수일자+SPACE(1)+도착시간
                        +@줄바꿈+'※ 입관: '+입관일자+SPACE(1)+입관시간
                        +@줄바꿈+'※ 발인: '+발인일자+SPACE(1)+발인시간
                        -- +@줄바꿈+'※ 이송: '+운구여부
                        +@줄바꿈+'※ 장지: '+장법+' 1차- '+장지1차+' 2차- '+장지2차
                        +@줄바꿈+'※ 기타: '+
                        +@줄바꿈+'※ 지도사: '+지도사명+SPACE(1)+지도사직급명+SPACE(1)+'('+지도사휴대폰+')'

					WHEN '취소보고' THEN
						 '(SJ산림조합상조) 취소보고'
                         +@줄바꿈+'※ 접수일: '+접수일자
						 +@줄바꿈+'※ 회원명: '+회원명
						 +@줄바꿈+'※ 고인: '+고인성명+' ('+관계+')'
						 +@줄바꿈+'※ 상주: '+상주+SPACE(1)+'('+상주휴대폰+')'
                         +@줄바꿈+'※ 상품: '+계약상품명
						 +@줄바꿈+'※ 장례식장: '+장례식장
                         +@줄바꿈+'※ 취소사유: '
						 +@줄바꿈+'※ 발생: '
                         +@줄바꿈+'※ 접수: '+접수일자+SPACE(1)+상황부여
						 +@줄바꿈+'※ 취소: '+취소일자+SPACE(1)+취소시간
						 +@줄바꿈+'※ 출동: '+지도사명+SPACE(1)+지도사직급명+SPACE(1)+'('+지도사휴대폰+')'
						 
		    END) AS 문자내용

            -- 2023-08-23 카카오알림톡템플릿코드 추가
            ,(CASE @문자구분 
					WHEN '장례접수현황' THEN 'SJKAKAO-042'
					WHEN '장례상담결과' THEN 'SJKAKAO-043'
					WHEN '취소보고'     THEN 'SJKAKAO-044'
                    ELSE ''
		    END) AS 알림톡템플릿
	FROM	#문자내용
    */

    SELECT(
			CASE @문자구분 
					WHEN '장례접수현황' THEN
					 	 '[SJ산림조합상조]장례접수현황'
					    +@줄바꿈+'＊접수일: '+접수일자
					    +@줄바꿈+'＊회원: '+회원명+' ('+관계+'상)'
						+@줄바꿈+'＊접수자: '+접수인
						+@줄바꿈+'＊연락처: '+접수인연락처
					    +@줄바꿈+'＊상품: '+계약상품명
					    +@줄바꿈+'＊납입: '+'납입회차 '+납입회차+'('+납입금액+')'
						+@줄바꿈+SPACE(11)+'잔여회차 '+잔여회차+'('+잔여금액+')'
						+@줄바꿈+SPACE(11)+'면제회차 '+면제회차+'('+면제금액+')'
					    +@줄바꿈+'＊고인: '+고인성명
						+@줄바꿈+'＊현재: '+발생장소
						+@줄바꿈+'＊상주: '+상주
						--+@줄바꿈+'＊가입처: '+모집사원명+'('+모집사원본부명+'/'+모집사원지사명+')'
						+@줄바꿈+'＊가입처: '+모집사원명+'('+모집사원본부명+'/'+모집사원지사명+모집사원팀명+')'
						+@줄바꿈+'＊모집인과의 관계: '
						+@줄바꿈+'＊장례식장: '+장례식장
						+@줄바꿈+'＊상담사: '
						+@줄바꿈+'＊특이사항: ' 
					    +@줄바꿈+'＊지도사: '+지도사명+SPACE(1)+지도사직급명+SPACE(1)+지도사휴대폰
					     				     
						
					WHEN '장례상담결과' THEN
					     '[SJ산림조합상조]상담결과보고' 
					     +@줄바꿈+'＊회원: '+회원명+SPACE(1)+휴대폰
					     +@줄바꿈+'＊고인: '+고인성명+' ('+연령+'세,'+고인성별+')'
					     +@줄바꿈+'＊상주: '+상주+SPACE(1)+상주휴대폰
					     +@줄바꿈+'＊식장: '+장례식장
					     +@줄바꿈+'＊상품: '+계약상품명
					     +@줄바꿈+'＊종교: '+종교
						 +@줄바꿈+'＊사망: '
						 +@줄바꿈+'＊도착: '+접수일자+SPACE(1)+도착시간
					     +@줄바꿈+'＊입관: '+입관일자+SPACE(1)+입관시간
					     +@줄바꿈+'＊발인: '+발인일자+SPACE(1)+발인시간
						 +@줄바꿈+'＊이송: '+운구여부
					     +@줄바꿈+'＊장지: '+장법
						 +@줄바꿈+SPACE(1)+'1차- '+장지1차
						 +@줄바꿈+SPACE(1)+'2차- '+장지2차
						 +@줄바꿈+'＊수의: '+수의구분
						 +@줄바꿈+'＊수의대체: '+
						 +@줄바꿈+'＊기타: '+
						 +@줄바꿈+'＊모집인과의 관계: '
					     +@줄바꿈+'＊지도사: '+지도사명+SPACE(1)+지도사직급명+SPACE(1)+지도사휴대폰
						 +@줄바꿈+'＊특이사항: ' 

					WHEN '취소보고' THEN
						 '[SJ산림조합상조]취소보고'
						 +@줄바꿈+'＊회원: '+회원명+' ('+관계+'상)'+SPACE(1)+휴대폰
						 +@줄바꿈+'＊고인: '+고인성명+' ('+연령+'세,'+고인성별+')'
						 +@줄바꿈+'＊상주: '+상주+SPACE(1)+상주휴대폰
						 +@줄바꿈+'＊장례식장: '+장례식장
						 +@줄바꿈+'＊상품: '+계약상품명
						 +@줄바꿈+'＊종교: '+종교
						 +@줄바꿈+'＊취소사유: '
						 +@줄바꿈+'＊도착: '+접수일자+SPACE(1)+도착시간
						 +@줄바꿈+'＊취소: '+취소일자+SPACE(1)+취소시간
						 +@줄바꿈+'＊지도사: '+지도사명+SPACE(1)+지도사직급명+SPACE(1)+지도사휴대폰
		    END) AS 문자내용
			
            -- 2023-08-23 카카오알림톡템플릿코드 추가
            ,(CASE @문자구분 
					WHEN '장례접수현황' THEN 'SJKAKAO-098'
					WHEN '장례상담결과' THEN 'SJKAKAO-099'
					WHEN '취소보고'     THEN 'SJKAKAO-100'
                    ELSE ''
		    END) AS 알림톡템플릿
	FROM	#문자내용
	DROP TABLE #문자내용;
	
	SET TRANSACTION ISOLATION LEVEL READ COMMITTED;
END;
